{% extends "base.html" %}
{% load url from future %}
{% block body %}
    <ul class="matches admin">
        {% for match in matches%}
            <li>
                {% if match.staus == "before" %}
                    <div class="pub_date">Data meczu: {{match.date}}</div>
                {% else %}{% if match.staus == "actual" %}
                    <div class="pub_date red">Mecz aktualnie rozgrywany!</div>
                {% else %}{% if match.staus == "finished" %}
                    <div class="pub_date grey">Zakończony</div>
                {% endif %}{% endif %}{% endif %}
                <div class="place">Miejsce: {{match.place.name}}</div>
                <div class="tabel {{match.tabel.get_nicename}}">{{match.tabel.name}}</div>
                <div class="admin"><a href="{{ match.get_form_url }}">Edytuj</a></div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}  
