<form method="post">
    {% csrf_token %}
{{form.non_field_errors}}
{% for field in form.visible_fields %}
    <div class="field-wrapper {{ field.css_classes }}{% ifequal field.name "signed_up_newsletter_games" %} games{% endifequal %}"{% ifequal field.name "recaptcha" %} id="recaptcha-field-wrapper"{% endifequal %}>
        {# Include the hidden fields in the form #}
        {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endif %}
        {{ field.errors }}
        {% ifequal field.name "recaptcha" %}
            <span class="label-wrapper recaptcha-label-wrapper"><label for="recaptcha_response_field">{{ field.label }}</label>:</span> {{ field }}
        {% else %}{% ifequal field.name "signed_up_newsletter_games" %}
                <span class="label-wrapper-wide">{{ field.label_tag }}:</span> {{ field }}
            {% else %}
            <span class="label-wrapper">{{ field.label_tag }}:</span> {{ field }}
        {% endifequal%}{% endifequal%}
        {% if field.help_text %}<div class="help-text">{{ field.help_text }}</div>{% endif %}
    </div>
{% endfor %}
    <input type="submit" value="Zapisz" />
</form>
