<div class="tabel {{additional_class}}">{{name}}</div>
<table class="scores">
    <tr>
        <td>&nbsp;</td>
        <td>Drużyna</td>
        <td>Mecze</td>
        <td>Zwycięstw</td>
        <td>Punkty</td>
        <td>Małe punkty</td>
    </tr>
    {% for team in teams %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ team.team.name }}</td>
            <td>{{ team.matches }}</td>
            <td>{{ team.wins }}</td>
            <td>{{ team.score }}</td>
            <td>{{ team.small_score }}</td>
        </tr>
    {% endfor %}
</table>
