ul.menu {
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
}
ul.menu li {
    display: inline;
    border: double 1px black;
    margin: 0;
    padding: 2px 5px;
    color: black;
}
ul.menu li:hover {
    background-color: green;
    color: white;
}
ul.menu li.active {
    background-color: red;
    color: yellow;
}
ul.menu li a, ul.menu li a:active, ul.menu li a:visited{
    text-decoration: none;
    color: inherit;
}

.notimplemented, .notimplemented:hover {
    color: black;
    background-color: grey !important;
}

ul.posts {
    list-style: none;
    margin: 15px 0 0 15px;
    padding: 0;
    width:600px;
}
ul.posts li {
    margin-top: 15px;
    border: solid 2px green;
}
ul.posts li div.pub_date {
    float: right;
}
ul.posts li div.author {
    float: left;
}
ul.posts li div.text {
    clear: both;
    padding: 5px 0 0 15px;
}

ul.matches {
    list-style: none;
    margin: 15px 0 0 15px;
    padding: 0;
    width:600px;
}
div.match {
    margin-top: 15px;
    border: solid 2px green;
    display: inline-block;
}
div.match div.pub_date {
    border-right: solid 2px green;
    border-bottom: solid 2px green;
    float: left;
    width: 100%;
}

div.match div.admin {
    border-right: solid 2px green;
    /*border-bottom: solid 2px green;*/
    float: left;
    width: 100%;
}
div.match div.pub_date.red {
    background-color: red;
}
div.match div.pub_date.grey {
    background-color: grey;
}
div.match div.place {
    border-right: solid 2px green;
    border-bottom: solid 2px green;
    clear: both;
    float: left;
    width: 502px;
}
div.match div.tabel {
    border-bottom: solid 2px green;
    float: left;
    width: 92px;
}
div.match div.tabel.grupa_a {
    background-color: green;
    color: white;
}
div.match div.tabel.grupa_b {
    background-color: yellow;
    
}
div.match div.tabel.finaly {
    background-color: red;
    color: yellow;
}
div.match table.scores {
    /*border: solid 1px black;*/
    width: 100%;
}
div.match table.scores td {
    border: solid 1px black;
}
div.match table.scores td.teamname {
    width: 220px;
}
